body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 220px;
    margin: 50px 35%;
}

form input{
    padding: 12px;
    margin: 8px;
    width: 420px;
}

form button{
    background: #0290b0;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    width: 220px;
    margin: 1rem 7rem;
    cursor: pointer;
}


/* PROFILE STYLE */
.profileBody{
    background: #0290b0;
    max-width: 550px;
    margin: 12px auto;
    padding: 12px;
    border-radius: 8px;
}

.profileBody p{
    text-align: left;
    color: aliceblue;
    font-size: 1.5rem;
}